@import url('https://fonts.googleapis.com/css2?family=Tiro+Tamil:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gentium+Plus:ital,wght@0,400;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital@1&display=swap');
body{
    width: 100%;
    height: auto;
}
#head{
 width: 100%;   
 height: auto;
 background: linear-gradient(70deg,#eab0b8, 
 #fce3e6); 
 
}
.main{
    width: 100%;   
    height: auto;
    background: linear-gradient(70deg, 
    #c6ffdd
    , #fbde9b,#f08f93); 
}

#menu{
    width: 100%;
}
#menu a{
    font-family: 'Tiro Tamil', serif; 
    font-size: 20px;
}
#menu button{
    color: rgb(13, 14, 14);
    background-color: rgba(255, 255, 255, 0.967);
    height: 35px;
    width: 143px;
    margin: 11px;
    font-family: 'Tiro Tamil', serif;
}
.img-title{
    width: 100%;
    height: 100%;
    margin: 30px;
}
#menu button:hover{
    background-color: rgba(219, 214, 214, 0.967);
}
#incons1{
    color: blue;
}
#incons2{
    color: rgb(72, 205, 222);
}
#incons3{
    color: red;
}
#incons4{
    color: rgb(213, 34, 151);
}
#Title-header{
    width: 80%;
    background-position: center;
    margin-left: 130px; 
}
#Title-header button{
    background-color: rgb(77, 137, 137);
}
#Title-header h1{
    text-transform: uppercase;
    width: 90%;
    font-family: 'Tiro Tamil', serif; 
}
#item-text{
    width: 100%;
    height: 100%;
    background-image: url(/Asset/Img/Vector\ Smart\ Object\ copy\ 14.svg) ; 
    background-repeat: no-repeat;
    background-size:cover; 
}
#item-text>p{
    color: #1f9f81;
    font-size: 20px;
}
#Title-header{
    width: 100%;
    height: 100%;
    background-image: url(/Asset/Img/Vector\ Smart\ Object\ copy\ 14.svg) ; 
    background-repeat: no-repeat;
    background-size:contain;  
    
}
#Title-header p{
    width: 79%;
    font-family: 'Gentium Plus', serif; 
}
#section-inf{
   border-radius:17px ;
   border: solid rgb(100, 233, 70);
}
#img1{
    clip-path: polygon(0% 0%,0% 0%,0% 0%,100% 0%,50% 100%,0% 97%,0% 100%);
}
#img1{
    position: relative;
    top: -55px;
    left: -48px;
    width: 323px;
    height: 321px;
    display: block;
    border-radius: 30px;
}
#img2{
    clip-path: polygon(40% 0%,0% 100%,100% 100%,100% 0%,100% 0%,0% 0%,0% 0%);
}
#secc-item2{
    margin-top: 10px;
    width: 100%;
    height: auto;
    background-image: url(/Asset/Img/Vector\ Smart\ Object\ copy\ 14.svg) ; 
    background-repeat: no-repeat;
    background-size:contain;  
}
#img2{
    position: relative;
    top: -354px;
    left: 138px;
    width: 381px;
    height: 332px;
    display: block;
    border-radius: 52px;
}
#item-secc{
    width: 40%;
   margin-left: 90px;
   margin-right: 50px;
}
#item-secc h1{
    margin-top: 8px;
    font-size: 30px;
    font-family: 'Tiro Tamil', serif; 
}
#item-secc p{
    margin-top: 8px;
    font-family: 'Gentium Plus', serif; 
}
#item1{
    padding-top:10px ;
}
.footer{
    padding-top:100px;
    padding-bottom:10px;
    width: 100%;
    height: 450px;
    background: linear-gradient(70deg, rgb(133, 105, 105), white); 
}
#icons5{
    color: black;
    margin-right: 10px;
}
#icons6{
    color: black;
    margin-right: 10px; 
}
#icons7{
    color: black;
    margin-right: 10px; 
}
#service {
    width: 50%;
   
}
#ubicacio a{
    color: black;
    text-decoration:none;
}
#email a{
    color: black;
    text-decoration:none;  
}
#telefono a{
    color: black;
    text-decoration:none;  
}
#img4{
    width: 20%;
}

#input-icon {
    color: #191919;
    position: relative;
    width: 20px;
    height: 12px;
    left: -32px;
    top: 109%;
}
#conteiner2{
    border-radius: 20px;
    border-color: #4be131 !important;
}
#conteiner1{
    border-radius: 20px;
    border-color: #31bee1 !important;
}
#conteiner3{
    border-radius: 20px;
    border-color: #e1318f !important;
}
#conteiner4{
    border-radius: 20px;
    border-color: #6fea11 !important;
}
#conteiner5{
    border-radius: 20px;
    border-color: #ea0c40 !important;
}
#conteiner6{
    border-radius: 20px;
    border-color: #0ceadb !important;
}